version: "3.9"

services:

  backend-prod:
    build: ./server
    container_name: backend-prod
    restart: always
    environment:
      - MONGODB_URI=mongodb://admin:password@192.168.29.14:27017/das?authSource=admin&authMechanism=SCRAM-SHA-256
      - PORT=5000
      - NODE_ENV=production
      - JWT_SECRET=bescom_distribution_automation_system_secret_key_2024
      - JWT_EXPIRE=7d
      - FRONTEND_URL=http://192.168.29.14
    ports:
      - "5000:5000"

  frontend-prod:
    image: nginx:latest
    container_name: frontend-prod
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./dist:/usr/share/nginx/html
